/* bookingView.css */

table#tblBookings {
   line-height: 0.9;
}

.table td, .table th {
   padding: 0.4rem;
   text-align: center;
   vertical-align: middle;
}

.provisional {
  background-color: lightgrey;
}
.provisional::before { content: "P";}

.confirmed {
  background-color: #a8cb17;
}
.confirmed::before { content: "C";}