/* CSS file for page 'bookingMaint.php' */

/* existing bookings table select width for bookingStatus */
.bookingStatus {
  width: 50px;
}

/* booking insert form */
.insertForm{
  background-color: #a8cb17;
  width: 100%;
  margin-top: 15px;
  /* margin: 10px; */
  padding-top: 5px;
  padding-bottom: 5px;
}


/* class to highlight the inserted booking */
.highlight {background-color: #a8cb17 !important;}

#formGet label {
  vertical-align: middle;
  /* line-height: 1.5; */
  /* height: calc(2.25rem + 2px); */
  /* text-align: center; */
}

/* insertForm form labels */
.insertForm label  {
    flex: 2;
    /* line-height: 2.5; */
    text-align: right;
    padding-right: 0px;
    padding-left: 5px;
    /* vertical-align: middle; */
  }

#notesLabel {
  margin-bottom: 0;
}

.insertForm .form-control,
.insertForm .custom-select,
.insertForm input,
.insertForm select {
  padding: 0 !important;
  height:inherit !important;
}

.insertForm span  {
  padding: 20px;
}

/* id=notes */
#notes {
  border-left: solid #a8cb17 5px;
  border-right: solid #a8cb17 5px;
} 

.remove{
  background-image: url('/images/if_ic_delete_forever_48px_3669360.svg');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 35px;
  width: 33px;
  box-shadow: 3px -3px darkgray;
}


.CottageWeek_data {
  background-color: #a8cb17;
}

