/* General CSS file for CRUD1 pages */

html {
  position: relative;
  min-height: 100%;
}

/* class to display a modal overlay while any ajax call is running */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, 0.5 ) 
              url('/images/progress.gif')
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading .modal {
  display: block;
}

.tooltip { pointer-events: none; }

/* body {
  margin-bottom: 200px;
  /* font-family: 'Spectral', serif; */
  /*font-size: 14px;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font: 16px/1.5 Roboto, sans-serif;*/
  /* background: #717174; */
/* } */ 

/* .container {
  background-color: lightgray;
} */


