

html {
  position: relative;
  min-height: 100%;
}

/* class to display a modal overlay while any ajax call is running */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, 0.5 ) 
              url('/images/progress.gif')
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading .modal {
  display: block;
}


/* body {
  margin-bottom: 200px;
  /* font-family: 'Spectral', serif; */
  /*font-size: 14px;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font: 16px/1.5 Roboto, sans-serif;*/
  /* background: #717174; */
/* } */ 

/* .container {
  background-color: lightgray;
} */


/* class to highlight the inserted booking */
.highlight {background-color: #a8cb17 !important;}


/* input form labels */
label {
    flex: 1;
    line-height: 2;
    text-align: right;
    padding-right: 5px;
    padding-left: 20px;
  }


 /* booking insert form */
.insertForm{
  background-color: #a8cb17;
  width: 100%;
  margin-top: 15px;
  /* margin: 10px; */
  padding-top: 5px;
  padding-bottom: 5px;
}


.insertForm span  {
  padding: 20px;
}


#notes {
  margin-left: 10px;
  width: 98%;
  }

.remove{
  background-image: url('/images/if_ic_delete_forever_48px_3669360.svg');
  background-size: 30px 30px;
  height: 35px;
  width: 33px;
}

.CottageWeek_data {
  background-color: #a8cb17;
}