/* General CSS file for CRUD1 pages */
@import url('https://fonts.googleapis.com/css?family=B612');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'B612', sans-serif;
  background-color: lightgray;
}

main {
  margin-top: 90px;
}

/* class to display a ajaxLoading overlay while any ajax call is running */
.ajaxLoading {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, 0.5 ) 
              url('/images/progress.gif')
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our ajaxLoading element will be visible */
body.loading .ajaxLoading {
  display: block;
}

.tooltip { pointer-events: none; }

/* body {
  margin-bottom: 200px;
  /* font-family: 'Spectral', serif; */
  /*font-size: 14px;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font: 16px/1.5 Roboto, sans-serif;*/
  /* background: #717174; */
/* } */ 

/* .container {
  background-color: lightgray;
} */



/* icons images in footer */
.myFooterIcons {
  width: 23px;
  height: auto;
  padding-right: 5px;
}

footer p {
  margin-bottom: 0;
  font-size: .75rem;
}
