# prevent http access to file
<Files dbFuncs0.php>
	Order Allow,Deny
	Deny from all
</Files>

<FilesMatch "\.htaccess|emailConfig\.php|reCaptcha\.php">
    Require all denied
</FilesMatch>

# prevent browsing of this folder
Options All -Indexes
